@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

/* -----------------------------------------------
                    GLOBAL STYLES
-------------------------------------------------- */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, modal, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* -----------------------------------------------
                   BASIC STYLES
-------------------------------------------------- */
	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}
	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #ffffff;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* -----------------------------------------------
                    STYLE TYPE
-------------------------------------------------- */
	body, input, select, textarea {
		color: #585858;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.5;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		/*-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		transition: border-bottom-color 0.2s ease, color 0.2s ease;
		*/text-decoration: none;
		color: #585858;
		border-bottom: dotted: 0px #8da0a5;
	}

		a:hover {
			border-bottom-color: transparent;
			color: #8da0a5;
		}

	strong, b {
		font-weight: 900;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 0em 0;
		text-align: center;
	}

	h1 {
		font-weight: 600;
		line-height: 0.2;
		letter-spacing: 0.01em;
		text-align: center;
		width: 100%;
		text-align: center;
		border-bottom: 0.5px solid #c9c9c9;
		margin: 10px 0 20px;
		color: #8da0a5 !important;
		font-size: 1.3em;
		margin-top: 20px;
	}

    h1 span {
        background:#fff;
        padding:0 10px;
    }

	h2 {
		font-weight: 500;
		line-height: 1;
		margin: .5em 0 0em 0;
        	text-align: center;
		letter-spacing: 0.01em;
		font-size: 2em;
	}

	h3 {
		font-weight: 500;
		line-height: 1;
		margin: .3em 0 .5em 0;
        	text-align: center;
		font-size: 1.3em;
	}

	h4 {
		font-weight: 600;
		line-height: 1.2;
		margin: 0 0 .5em 0;
        	text-align: center;
		letter-spacing: 0.02em;
		font-size: 1em;
	}

	h5 {
		font-weight: 600;
		line-height: .2;
		padding: 1em 0 .5em 0;
       		text-align: center;
		letter-spacing: 0.01em;
		width: 100%;
		font-size: 1.1em;
	}

	h5 span {
        background:#fff;
        padding:0 10px;
    }

	h6 {
		font-weight: 500;
		line-height: 0.2;
		letter-spacing: 0.01em;
		text-align: left;
		width: 100%;
		text-align: center;
		border-bottom: 0.5px solid #c9c9c9;
		margin: 10px 0 20px;
		color: #8da0a5 !important;
		font-size: 1.5em;
		margin-top: 20px;
	}

    h6 span {
        background:#fff;
        padding:0 10px;
    }
    
	h7 {
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.01em;
		text-align: center;
		width: 80%;
		margin: 5px 0 10px;
		color: #8da0a5 !important;
		font-size: 1.3em;
	}

    h7 span {
        background:#fff;
        padding:0 20px;
        width: 100%;
    }
    
		h1, h2 a, h3 a, h4 a, h6 a {
			color: inherit;
		}

	p a {
	    text-decoration: none;
		color: #585858;
		border-bottom: dotted 2.1px #8da0a5;
	}

		p a:hover {
			border-bottom-color: transparent;
			color: #8da0a5 !important;
			font-weight: 900;
		}

		h5 a, img a {
		    color: #585858 !important;
		    opacity: 0.5;
		}

		h5 a:hover {
		    color: #585858 !important;
		    opacity: 0.5;
		    cursor: pointer;
		}

		img a:hover {
		    color: #585858 !important;
		    opacity: 0.5;
		    cursor: pointer;
		}

		h1 a, h2 a, h3 a, h4 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
			border-bottom: solid 1px #ffffff;
			width: -moz-max-content;
			width: -webkit-max-content;
			width: -ms-max-content;
			width: max-content;
			padding-bottom: 0.5rem;
			margin: 0 0 2rem 0;
		}

	@media screen and (max-width: 980px) {

		h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
			display: none;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px #c9c9c9;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px #c9c9c9;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px #c9c9c9 !important;
		margin: 2em 0 1em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	dl {
		margin: .5em 0 0em 0;
		text-align: left;
	}

		dl dt {
			display: block;
			font-weight: 900;
			margin: 0 0 0.1em 0;
			padding: 1em 0 0 0;
			text-align: left;
		}

		dl dd {
			padding: 0em 0 0.5em 0;
			margin-left: 2em;
			text-align: left;
		}


/* -----------------------------------------------
              SECTION / ARTICLE
-------------------------------------------------- */
	section.special, article.special {
		text-align: center;
	}

	header p {
		margin-top: -1em;
	}

	@media screen and (max-width: 736px) {

		header p {
			margin-top: 0;
		}

	}

/* -----------------------------------------------
                    ICON
-------------------------------------------------- */
	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

		.icon.style2 {
			background-color: transparent;
			border: solid .8px #8da0a5;
			border-radius: 4px;
			width: 2.65em;
			height: 2.65em;
			display: inline-block;
			text-align: center;
			line-height: 2.65em;
			color: #8da0a5;
		}

			.icon.style2:before {
				font-size: 1.1em;
			}

			.icon.style2:hover {
				color: #8da0a5;
				border-color: #8da0a5;
				border: solid 2px #8da0a5;
				background-color: rgba(157, 178, 184, 0.3);
			}

			.icon.style2:active {
				background-color: (157, 178, 184, 0.8);
			}

/* -----------------------------------------------
                    LISTS
-------------------------------------------------- */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
		color: #8da0a5 !important;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
		color: #8da0a5 !important;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #c9c9c9;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 900;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

/* -----------------------------------------------
                    ACTIONS
-------------------------------------------------- */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1em;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3em 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1em);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			ul.actions:not(.fixed) {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
				width: 100% !important;
			}

				ul.actions:not(.fixed) li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					padding: 1em 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions:not(.fixed) li > * {
						width: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-top: 0;
					}

					ul.actions:not(.fixed) li input[type="submit"],
					ul.actions:not(.fixed) li input[type="reset"],
					ul.actions:not(.fixed) li input[type="button"],
					ul.actions:not(.fixed) li button,
					ul.actions:not(.fixed) li .button {
						width: 100%;
					}

						ul.actions:not(.fixed) li input[type="submit"].icon:before,
						ul.actions:not(.fixed) li input[type="reset"].icon:before,
						ul.actions:not(.fixed) li input[type="button"].icon:before,
						ul.actions:not(.fixed) li button.icon:before,
						ul.actions:not(.fixed) li .button.icon:before {
							margin-left: -0.5rem;
						}

		}

/* -----------------------------------------------
                    ICONS
-------------------------------------------------- */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
		margin: -1em 0 2em -1em;
	}

		ul.icons li {
			display: inline-block;
			padding: 1em 0 0 1em;
		}

/* -----------------------------------------------
                        BOX
-------------------------------------------------- */
	.box {
		border-radius: 4px;
		border: solid 1px #c9c9c9;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* -----------------------------------------------
                    IMAGE
-------------------------------------------------- */
	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 100%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

			@media screen and (max-width: 736px) {

				.image.main {
					margin: 0 0 2em 0;
				}

			}

/* -----------------------------------------------
                    TABLE
-------------------------------------------------- */
	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 0px #c9c9c9;
			border-left: 0;
			border-right: 0;
		}


		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			font-size: 0.9em;
			line-height: 0.1;
			font-weight: 900;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px #c9c9c9;
		}

		table tfoot {
			border-top: solid 2px #c9c9c9;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px #c9c9c9;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

/* -----------------------------------------------
                    BUTTON
-------------------------------------------------- */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		/*-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		*/background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 2px #8da0a5;
		color: #8da0a5; !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.7em;
		font-weight: 500;
		height: 3em;
		letter-spacing: 0.1em;
		line-height: 3.45em;
		overflow: hidden;
		padding: 0 1.25em 0 1.6em;
		text-align: center;
		text-decoration: none;
		text-overflow: ellipsis;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			color: #8da0a5 !important;
			box-shadow: inset 0 0 0 2px #8da0a5;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(242, 132, 158, 0.1);
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.6em;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 1em;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			box-shadow: none;
			background-color: #585858;
			color: #8da0a5 !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: #8da0a5;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			button.primary:active,
			.button.primary:active {
				background-color: #ee5f81;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

/* MOBILE DEVICES: 481-768px */
/* If screen size 600px or less - set margins to */
		@media screen and (max-width: 736px) {

			.tiles {
				margin: .5em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(50% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

					.tiles article:hover > .image {
						-moz-transform: scale(1.0);
						-webkit-transform: scale(1.0);
						-ms-transform: scale(1.0);
						transform: scale(1.0);
					}

		}
/* MOBILE DEVICES: 320-480px */
/* If screen size 480px or less - set margins to */
		@media screen and (max-width: 480px) {

			.tiles {
				margin: 0;
			}

				.tiles article {
					width: 100%;
					margin: 1.25em 0 0 0;
				}

		}

/* -----------------------------------------------
                    HEADER
-------------------------------------------------- */
	#header {
		padding: 0.5em 0 0.1em 0 ;
		background: rgba(157, 178, 184, 0.3);
		height: 2.5em;

	}

	    #header .title {
	        font-size: 1em;
	    }

		    #header .title:hover {
				font-size: 1.1em;
				font-weight: 900;
			}

		#header .logo {
			display: block;
			border-bottom: 0;
			color: #8da0a5;
			font-weight: 600;
			letter-spacing: 0.01em;
			margin: 0 0 2em 0;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			font-size: 0.8;
		}

			#header .logo > * {
				display: inline-block;
				vertical-align: middle;
			}

			#header .logo .symbol {
				margin-right: 0.65em;
			}

				#header .logo .symbol img {
					display: block;
					width: .9em;
					height: .9em;
				}

		#header nav {
			display: inline-block;
			float: right;
			top: 1em;
			z-index: 10000;
		}

			#header nav ul {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#header nav ul li {
					display: inline-block;
					padding: 0;
				}

					#header nav ul li a {
						display: inline-block;
						position: relative;
						height: 2em;
						padding: 0 0em 0 1em;
					/*	background-color: rgba(255, 255, 255, 0.5);
					*/	border-radius: 4px;
						border: 0;
						font-size: 0.8em;
						font-weight: 900;
						letter-spacing: 0.01em;
						text-transform: uppercase;
					}

					#header nav ul li a:hover {
						font-size: .9em;
						font-weight: 900;
					}

					#header nav ul li a[href="#menu"] {
						-webkit-tap-highlight-color: transparent;
						width: 4em;
						text-indent: 4em;
						font-size: 1em;
						overflow: hidden;
						padding: 0;
						white-space: nowrap;
					}

						#header nav ul li a[href="#menu"]:before, #header nav ul li a[href="#menu"]:after {
							-moz-transition: opacity 0.2s ease;
							-webkit-transition: opacity 0.2s ease;
							-ms-transition: opacity 0.2s ease;
							transition: opacity 0.2s ease;
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-position: center;
							background-repeat: no-repeat;
							background-size: 2em 2em;
						}

						#header nav ul li a[href="#menu"]:before {
							background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23f2849e%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
							opacity: 0;
						}

						#header nav ul li a[href="#menu"]:after {
							background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
							opacity: 1;
						}

						#header nav ul li a[href="#menu"]:hover:before {
							opacity: 1;
						}

						#header nav ul li a[href="#menu"]:hover:after {
							opacity: 0;
						}

		@media screen and (max-width: 736px) {

			#header {
				padding: 0.5em 0 0.1em 0 ;
			}
				#header nav {
					right: 0.5em;
					top: 0.5em;
				}
					#header nav ul li a[href="#menu"]:before, #header nav ul li a[href="#menu"]:after {
						background-size: 1.5em 1.5em;
					}

		}

@media screen and (max-width: 576px) {

	#header {
		height: 2.5em;
	}

	    #header .title {
	        font-size: .7em;
	        letter-spacing: 0em;
	    }

	    	#header .title:hover {
				font-size: .7em;
			}

			    #header nav ul li a {
				    padding: 0 0em 0 1em;
				    font-size: 0.6em;
				    font-weight: 900;
				    letter-spacing: 0em;
				    text-transform: uppercase;
			    }

				    #header nav ul li a:hover {
					    font-size: .6em;
					}
}

/* -----------------------------------------------
                    MENU
-------------------------------------------------- */
	#wrapper {
		-moz-transition: opacity 0.45s ease;
		-webkit-transition: opacity 0.45s ease;
		-ms-transition: opacity 0.45s ease;
		transition: opacity 0.45s ease;
		opacity: 1;
	}

	#menu {
		-moz-transform: translateX(22em);
		-webkit-transform: translateX(22em);
		-ms-transform: translateX(22em);
		transform: translateX(22em);
		-moz-transition: -moz-transform 0.45s ease, visibility 0.45s;
		-webkit-transition: -webkit-transform 0.45s ease, visibility 0.45s;
		-ms-transition: -ms-transform 0.45s ease, visibility 0.45s;
		transition: transform 0.45s ease, visibility 0.45s;
		position: fixed;
		top: 0;
		right: 0;
		width: 22em;
		max-width: 80%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		background: #8da0a5;
		color: #8da0a5;
		cursor: default;
		visibility: hidden;
		z-index: 10002;
	}

		#menu > .inner {
		/*	-moz-transition: opacity 0.45s ease;
			-webkit-transition: opacity 0.45s ease;
			-ms-transition: opacity 0.45s ease;
			transition: opacity 0.45s ease;
			-webkit-overflow-scrolling: touch;
		*/	position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 2.75em;
			opacity: 0;
			overflow-y: auto;
		}

			#menu > .inner > ul {
				list-style: none;
				margin: 0 0 1em 0;
				padding: 0;
			}

				#menu > .inner > ul > li {
					padding: 0;
					border-top: solid 1px rgba(255, 255, 255, 0.15);
				}

					#menu > .inner > ul > li a {
						display: block;
						padding: 1em 0;
						line-height: 1.5;
						border: 0;
						color: inherit;
					}

					#menu > .inner > ul > li:first-child {
						border-top: 0;
						margin-top: -1em;
					}

		#menu > .close {
			-moz-transition: opacity 0.45s ease, -moz-transform 0.45s ease;
			-webkit-transition: opacity 0.45s ease, -webkit-transform 0.45s ease;
			-ms-transition: opacity 0.45s ease, -ms-transform 0.45s ease;
			transition: opacity 0.45s ease, transform 0.45s ease;
			-moz-transform: scale(0.25) rotate(180deg);
			-webkit-transform: scale(0.25) rotate(180deg);
			-ms-transform: scale(0.25) rotate(180deg);
			transform: scale(0.25) rotate(180deg);
			-webkit-tap-highlight-color: transparent;
			display: block;
			position: absolute;
			top: 2em;
			left: -6em;
			width: 6em;
			text-indent: 6em;
			height: 3em;
			border: 0;
			font-size: 1em;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			white-space: nowrap;
		}

			#menu > .close:before, #menu > .close:after {
				-moz-transition: opacity 0.2s ease;
				-webkit-transition: opacity 0.2s ease;
				-ms-transition: opacity 0.2s ease;
				transition: opacity 0.2s ease;
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 2em 2em;
			}

			#menu > .close:before {'http://www.w3.org/2000/svg
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23f2849e%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
				opacity: 0;
			}

			#menu > .close:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
				opacity: 1;
			}

			#menu > .close:hover:before {
				opacity: 1;
			}

			#menu > .close:hover:after {
				opacity: 0;
			}

		@media screen and (max-width: 736px) {

			#menu {
				-moz-transform: translateX(16.5em);
				-webkit-transform: translateX(16.5em);
				-ms-transform: translateX(16.5em);
				transform: translateX(16.5em);
				width: 16.5em;
			}

				#menu > .inner {
					padding: 2.75em 1.5em;
				}

				#menu > .close {
					top: 0.5em;
					left: -4.25em;
					width: 4.25em;
					text-indent: 4.25em;
				}

					#menu > .close:before, #menu > .close:after {
						background-size: 1.5em 1.5em;
					}

		}

	body.is-menu-visible #wrapper {
		pointer-events: none;
		cursor: default;
		opacity: 0.25;
	}

	body.is-menu-visible #menu {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
	}

		body.is-menu-visible #menu > * {
			opacity: 1;
		}

		body.is-menu-visible #menu .close {
			-moz-transform: scale(1.0) rotate(0deg);
			-webkit-transform: scale(1.0) rotate(0deg);
			-ms-transform: scale(1.0) rotate(0deg);
			transform: scale(1.0) rotate(0deg);
			opacity: 1;
		}

/* -----------------------------------------------
                MAIN CONTENT STYLE
-------------------------------------------------- */
	#main {
		padding: 0em 0 6em 0 ;
	}

		@media screen and (max-width: 736px) {

			#main {
				padding: 0em 0 4em 0 ;
			}

		}

	#main2 {
		padding: 0em 0 6em 0 ;
	}

		@media screen and (max-width: 736px) {

			#main {
				padding: 0em 0 4em 0 ;
			}

		}
/*	#main {
		background-color: #ffffff;
		position: relative;
		margin: 0 auto;
		width: calc(100% - 4rem);
		max-width: 72rem;
		z-index: 2;
	}

		#main > * {
			padding: 4rem 4rem 2rem 4rem ;
			border-top: solid 2px #eeeeee;
			margin: 0;
		}

			#main > *:first-child {
				border-top: 0;
			}

		#main > footer {
			text-align: center;
		}

		#main > .post {
			padding: 8rem 8rem 6rem 8rem ;
		}

			#main > .post header.major > .date {
				margin-top: -2rem;
			}

			#main > .post header.major > h1, #main > .post header.major h2 {
				font-size: 4rem;
				line-height: 1.1;
				margin: 0 0 2rem 0;
			}

			#main > .post.featured {
				text-align: center;
			}

			@media screen and (max-width: 1280px) {

				#main > .post {
					padding: 6rem 4rem 4rem 4rem ;
				}

			}

			@media screen and (max-width: 736px) {

				#main > .post {
					padding: 4rem 2rem 2rem 2rem ;
				}

					#main > .post header.major > .date {
						margin-top: -1rem;
						margin-bottom: 2rem;
					}

					#main > .post header.major > h1, #main > .post header.major h2 {
						font-size: 2.5rem;
						line-height: 1.2;
						margin: 0 0 1.5rem 0;
					}

			}

		#main > .posts {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-align-items: -moz-stretch;
			-webkit-align-items: -webkit-stretch;
			-ms-align-items: -ms-stretch;
			align-items: stretch;
			text-align: center;
			width: 100%;
			padding: 0;
		}

			#main > .posts > * {
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
			}

			#main > .posts > * {
				width: 50%;
			}

			#main > .posts > * {
				padding: 4rem;
				width: 50%;
			}

			#main > .posts > article {
				border-color: #eeeeee;
				border-left-width: 2px;
				border-style: solid;
				border-top-width: 2px;
				text-align: center;
			}

				#main > .posts > article > :last-child {
					margin-bottom: 0;
				}

				#main > .posts > article:nth-child(2n - 1) {
					border-left-width: 0;
				}

				#main > .posts > article:nth-child(-n + 2) {
					border-top-width: 0;
				}

			@media screen and (max-width: 980px) {

				#main > .posts > * {
					width: 50%;
				}

				#main > .posts > * {
					padding: 2.5rem;
					width: 50%;
				}

			}

			@media screen and (max-width: 736px) {

				#main > .posts > * {
					width: 100%;
				}

				#main > .posts > * {
					padding: 2rem;
					width: 100%;
				}

				#main > .posts > article:nth-child(2n - 1) {
					border-left-width: 2px;
				}

				#main > .posts > article:nth-child(-n + 2) {
					border-top-width: 2px;
				}

				#main > .posts > article:nth-child(n) {
					border-left-width: 0;
				}

				#main > .posts > article:nth-child(-n + 1) {
					border-top-width: 0;
				}

				#main > .posts > article .image {
					max-width: 25rem;
					margin-left: auto;
					margin-right: auto;
				}

			}
*/

/* -----------------------------------------------
                  FOOTER
-------------------------------------------------- */
	#footer {
	    width: 100%;
		max-width: 100%;
		margin-top: 1rem;
		text-align: center;
	}

		#footer .copyright {
			letter-spacing: 0.2rem;
			font-size: 0.6rem;
			opacity: .8;
			margin-bottom: 0em;
			text-transform: uppercase;
		}


/* -----------------------------------------------
                    WRAPPER
-------------------------------------------------- */
	#wrapper > * > .inner {
		width: 100%;
		max-width: 68em;
		margin: 0 auto;
		padding: 0 2.5em;
	}

		@media screen and (max-width: 736px) {

			#wrapper > * > .inner {
				padding: 0 1.25em;
			}

		}


/* -----------------------------------------------
                    CARDS
-------------------------------------------------- */
.card {
    border: 0;
}

.card-header {
    border: 0;
    margin: 0 0 0em 0;
    background-color: transparent !important;
}

.card-title {
		font-weight: 600;
		line-height: 1.2;
        text-align: center;
		letter-spacing: 0.02em;
		font-size: 1.1em;
		margin-top: -1.5rem;
}
.card-body {
    border: 1;
    color: #585858 !important;
    opacity: 0.6;
}

.card-body:hover {
    color: #585858 !important;
    opacity: 1;
    transition:all 1s;
}

.card-text {
    text-align: center;
    justify-content: center;
}

.card-img {
    border: solid 1px #000000;
    border-radius: 0;
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-footer{
    border: 0;
    width: 100% !important;
    background-color: transparent !important;
	margin: 0 0 -1.5em 0;
}

.card-footer:hover {
	cursor: pointer;
	color: #585858 !important;
	}

.card-title:hover {
	cursor: pointer;
	color: #585858 !important;
	}

/* -----------------------------------------------
                    BUTTONS
-------------------------------------------------- */
.btn {
    color: #8da0a5;
    background-color: transparent;
    font-size: 0.9em;
	font-weight: 600;
	height: 2em;
	letter-spacing: 0.1em;
	text-align: center;
	content-align: center;
	border: 0;
	box-shadow: inset 0 0 0 0px #8da0a5;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	padding: 0.25em 0.25em;
}

.btn:hover {
    color: #8da0a5 !important;
    background-color: transparent;
    box-shadow: inset 0 0 0 .5px #8da0a5;
}

/* -----------------------------------------------
              MODAL CLOSE BUTTON
-------------------------------------------------- */
.close {
	  color: #8da0a5;
	  float: right;
	  font-size: 25px;
	  font-weight: bold;
	}

.close:hover, .close:focus {
	  color: #8da0a5;
	  text-decoration: none;
	  cursor: pointer;
	}

/* -----------------------------------------------
                    MODALS
-------------------------------------------------- */
/* Background */
	.modal {
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0,0,0,0.3);
	  padding: 30px;
	  vertical-align: middle;
	}

	.modal-dialog {
	  max-width: 960px;
	  height: calc(100vh - 210px);
	}

/* Modal Content) */
	.modal-content {
	  background-color: white;
	  margin: auto;
	  border: 2px solid #888;
	  width: 95%;
	  max-width: 960px;
	  display: block;
	  vertical-align: middle;
	  align-content: center;
	}

	.modal-header {
	    text-align: center;
	    padding: .7em 1em .7em 1em;
	    border: 0;
	}

	.modal-title {
		font-weight: 600;
		line-height: 1.2;
        text-align: center;
		letter-spacing: 0.01em;
		width: 100%;
		font-size: 1.3em;
		border: 0;
		color: #585858;
	}

	.modal-body {
	padding: 0em 2em 0em 2em;
	max-width: 960px;
	border: 1;
	max-height: 75vh;           /* Max body height 75% of screen */
	overflow-y: auto;
	}

	.modal-footer {
	text-align: center;
	border: 0;
	padding: .5em 0 .5em 0;
	margin: 0 0 0 0;
	}


/* -----------------------------------------------
                    CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}

.carousel-item {
    height: 100%;
    max-width: 960px;
    object-fit: scale-down;
    object-position: center;
}

.carousel-item img {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  height: 50vh;
}

.carousel-caption {
  color: #585858;
  font-size: 1.1em;
  text-align: center;
  float: bottom;
  margin: 0 0 0em 0;
  width: 90%;
  }

.carousel-indicators {
  bottom: -35px;
  opacity: .75;
}

.carousel-control-next,
.carousel-control-prev {
    font-size: 1px;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    padding: 2em 0 0 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: inset 0 0 0 0px !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #8da0a5 !important;
  outline: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 0 2px #8da0a5;
  background-color: #8da0a5 !important;
}

/* -----------------------------------------------
             RESPONSIVE CAROUSEL
-------------------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media (max-width: 480px) {
  .carousel-item img {
    height: 30vh;
   }


  .modal-body {
	padding: 0em 1em 0em 1em;
	border: 1;
	max-height: 75vh;           /* Max body height 75% of screen */
	overflow-y: auto;
	}

  .modal-body p {
	padding: 0em 1em 0em 1em;
	font-size: .9em;
	}

	.modal-title {
		font-size: 1.1em;
	}
}

/* -----------------------------------------------
                 GALLERY2 - GRID
-------------------------------------------------- */
#gallery2 {
   line-height:0;
   -webkit-column-count:2; /* split it into 4 columns */
   -webkit-column-gap:10px; /* give it a 5px gap between columns */
   -moz-column-count:2;
   -moz-column-gap:10px;
   column-count:2;
   column-gap:10px;
   padding-top: 20px;
   padding-bottom: 40px;
}

#gallery2 img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:10px; /* to match column gap
}

#gallery img:hover {
   color: #585858 !important;
   opacity: 0.5;*/
}

#gallery2 caption {
    width:100%;
    height:100%;
    position:absolute;
    justify-content:center;
    background:rgba(0, 0, 0, 0.7);
    position:absolute;
    opacity:0;
    transition:opacity 0.3s;
}

#gallery2:hover .caption {
  opacity:1;
  display: block;
}

/* -----------------------------------------------
               RESPONSIVE GALLERY2
-------------------------------------------------- */
@media (min-width: 980px) {
   #gallery2 {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}

@media (max-width: 480px) {
   #gallery2 {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

/* -----------------------------------------------
              GALLERY - STYLE2
-------------------------------------------------- */
	.gallery.style2 {
		background-color: #000000;
		color: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-overflow-scrolling: touch;
		position: relative;
		background-color: transparent;
	}

		.gallery.style2 input, .gallery.style2 select, .gallery.style2 textarea {
			color: #585858 !important;
		}

		.gallery.style2 a {
			color:#585858 !important;
		}

			.gallery.style2 a:hover {
				color: #585858 !important;
			}

		.gallery.style2 strong, .gallery.style2 b {
			color: #585858 !important;
		}

		.gallery.style2 h1, .gallery.style2 h2, .gallery.style2 h3, .gallery.style2 h4, .gallery.style2 h5, .gallery.style2 h6 {
			color: #585858 !important;
		}

		.gallery.style2 blokquote {
			border-left-color: white;
		}

		.gallery.style2 code {
			background: rgba(255, 255, 255, 0.125);
			border-color: white;
		}

		.gallery.style2 hr {
			border-bottom-color: white;
		}

	/*	.gallery.style2 input[type="submit"],
		.gallery.style2 input[type="reset"],
		.gallery.style2 input[type="button"],
		.gallery.style2 button,
		.gallery.style2 .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #585858 !important;
			color: #585858 !important;
		}

			.gallery.style2 input[type="submit"]:hover,
			.gallery.style2 input[type="reset"]:hover,
			.gallery.style2 input[type="button"]:hover,
			.gallery.style2 button:hover,
			.gallery.style2 .button:hover {
				box-shadow: inset 0 0 0 1px #585858 !important;
				color: #585858 !important;
			}

			.gallery.style2 input[type="submit"]:active,
			.gallery.style2 input[type="reset"]:active,
			.gallery.style2 input[type="button"]:active,
			.gallery.style2 button:active,
			.gallery.style2 .button:active {
				background-color: rgba(71, 211, 229, 0.2);
				box-shadow: inset 0 0 0 1px #585858 !important;
				color: #585858 !important;
			}

			.gallery.style2 input[type="submit"].primary,
			.gallery.style2 input[type="reset"].primary,
			.gallery.style2 input[type="button"].primary,
			.gallery.style2 button.primary,
			.gallery.style2 .button.primary {
				background-color: #ffffff;
				box-shadow: none;
				color: #585858 !important;
			}

				.gallery.style2 input[type="submit"].primary:hover,
				.gallery.style2 input[type="reset"].primary:hover,
				.gallery.style2 input[type="button"].primary:hover,
				.gallery.style2 button.primary:hover,
				.gallery.style2 .button.primary:hover {
					background-color: #585858 !important;
				}

				.gallery.style2 input[type="submit"].primary:active,
				.gallery.style2 input[type="reset"].primary:active,
				.gallery.style2 input[type="button"].primary:active,
				.gallery.style2 button.primary:active,
				.gallery.style2 .button.primary:active {
					background-color: #585858 !important;
				}
*/
		.gallery.style2 > .forward, .gallery.style2 > .backward {
			text-decoration: none;
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			position: absolute;
			top: 0;
			width: 5rem;
			height: 100%;
			cursor: pointer;
			opacity: 0;
			z-index: 2;
		}

			.gallery.style2 > .forward:before, .gallery.style2 > .backward:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				color: #585858 !important;
			}

			.gallery.style2 > .forward:before, .gallery.style2 > .backward:before {
				display: block;
				top: calc(50% - 1.5rem);
				width: 4rem;
				height: 3rem;
				line-height: 1em;
				font-size: 3rem;
				position: absolute;
				text-align: center;
			}

		.gallery.style2:hover > .forward, .gallery.style2:hover > .backward {
			opacity: 1;
		}

		.gallery.style2 > .forward {
			right: 0;
			background-image: linear-gradient(to left, rgba(255, 255, 255, 0.25) 15%, rgba(255, 255, 255, 0));
		}

			.gallery.style2 > .forward:before {
				content: '\f105';
				right: 0;
			}

		.gallery.style2 > .backward {
			left: 0;
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 15%, rgba(255, 255, 255, 0));
		}

			.gallery.style2 > .backward:before {
				content: '\f104';
				left: 0;
			}

		.gallery.style2 > .inner {
			display: inherit;
			overflow-x: auto;
			overflow-y: hidden;
			position: relative;
			width: 100%;
			align-items: center;
			column-gap:10px;
		}

		.gallery.style2 article {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			display: block; /* FULL WIDTH */
			position: relative;
			overflow: auto;
			width: 22.5rem;
			max-width: Z75vw;
		}

			.gallery.style2 article .image {
				display: block;  /* FULL WIDTH */
				width: 100%;
				border-radius: 0;
			}

				.gallery.style2 article .image img {
					width: 100%;
					height: 100%
					border-radius: 0;
				}

			.gallery.style2 article .caption {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				pointer-events: none;
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.7);   /* HOVER BG COLOR */
				opacity: 0;
				padding: 3rem;
				z-index: 1;
				font-size: 1rem;
				color: #585858 !important;
			}

				.gallery.style2 article .caption a {
					pointer-events: auto;
				}

				.gallery.style2 article .caption h2, .gallery.style2 article .caption h3, .gallery.style2 article .caption h4, .gallery.style2 article .caption h5, .gallery.style2 article .caption h6 {
					font-size: 1.5rem;
					margin-bottom: 0.25rem;
				}

				.gallery.style2 article .caption > * {
					max-width: 100%;
					margin-bottom: 1rem;
				}

				.gallery.style2 article .caption > :last-child {
					margin-bottom: 0;
				}

			.gallery.style2 article:hover .caption {
				opacity: 1;
			}

		@media screen and (max-width: 980px) {

			.gallery.style2 article .caption {
				padding: 2rem;
			}

		}

		@media screen and (max-width: 736px) {

			.gallery.style2 article .caption {
				padding: 2rem;
			}

		}

		.gallery.style2.small article {     /* SMALL ARTICLE WIDTH */
			width: 17.5rem;
		}

			.gallery.style2.small article .caption {
				padding: 2rem;
			}

		@media screen and (max-width: 980px) {

			.gallery.style2.small article .caption {
				padding: 2rem;
			}

		}

		@media screen and (max-width: 736px) {

			.gallery.style2.small article .caption {
				padding: 2rem;
			}

		}

		.gallery.style2.big article {   /* BIG ARTICLE WIDTH */
			width: 30rem;
		}

			.gallery.style2.big article .caption {
				padding: 4rem;
			}

		@media screen and (max-width: 980px) {

			.gallery.style2.big article .caption {
				padding: 3rem;
			}

		}

		@media screen and (max-width: 736px) {

			.gallery.style2.big article .caption {
				padding: 2rem;
			}

		}

/* -----------------------------------------------
              GALLERY - LIGHTBOX
-------------------------------------------------- */
	@-moz-keyframes gallery-modal-spinner {
		0% {
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes gallery-modal-spinner {
		0% {
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-ms-keyframes gallery-modal-spinner {
		0% {
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@keyframes gallery-modal-spinner {
		0% {
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	.gallery.lightbox .modal {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		pointer-events: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-moz-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
		-webkit-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
		-ms-transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
		transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: 0;
		background-color: rgba(0, 0, 0, 0.85);
		visibility: none;
		opacity: 0;
		z-index: 0;
	}

		.gallery.lightbox .modal:before {
			-moz-animation: gallery-modal-spinner 1s infinite linear;
			-webkit-animation: gallery-modal-spinner 1s infinite linear;
			-ms-animation: gallery-modal-spinner 1s infinite linear;
			animation: gallery-modal-spinner 1s infinite linear;
			-moz-transition: opacity 0.25s ease;
			-webkit-transition: opacity 0.25s ease;
			-ms-transition: opacity 0.25s ease;
			transition: opacity 0.25s ease;
			-moz-transition-delay: 0.5s;
			-webkit-transition-delay: 0.5s;
			-ms-transition-delay: 0.5s;
			transition-delay: 0.5s;
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 4rem;
			height: 4rem;
			margin: -2rem 0 0 -2rem;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='96px' height='96px' viewBox='0 0 96 96' zoomAndPan='disable'%3E%3Cstyle%3Ecircle %7Bfill: transparent%3B stroke: %23ffffff%3B stroke-width: 1.5px%3B %7D%3C/style%3E%3Cdefs%3E%3CclipPath id='corner'%3E%3Cpolygon points='0,0 48,0 48,48 96,48 96,96 0,96' /%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23corner)'%3E%3Ccircle cx='48' cy='48' r='32'/%3E%3C/g%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 4rem;
			opacity: 0;
		}

		.gallery.lightbox .modal:after {
			content: '';
			display: block;
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			width: 4rem;
			height: 4rem;
			cursor: pointer;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='64px' height='64px' viewBox='0 0 64 64' zoomAndPan='disable'%3E%3Cstyle%3Eline %7Bstroke: %23ffffff%3Bstroke-width: 1.5px%3B%7D%3C/style%3E%3Cline x1='20' y1='20' x2='44' y2='44' /%3E%3Cline x1='20' y1='44' x2='44' y2='20' /%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 3rem;
		}

		.gallery.lightbox .modal .inner {
			-moz-transform: translateY(0.75rem);
			-webkit-transform: translateY(0.75rem);
			-ms-transform: translateY(0.75rem);
			transform: translateY(0.75rem);
			-moz-transition: opacity 0.25s ease, -moz-transform 0.25s ease;
			-webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
			-ms-transition: opacity 0.25s ease, -ms-transform 0.25s ease;
			transition: opacity 0.25s ease, transform 0.25s ease;
			opacity: 0;
		}

			.gallery.lightbox .modal .inner img {
				display: block;
				max-width: 90vw;
				max-height: 85vh;
				box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.35);
			}

		.gallery.lightbox .modal.visible {
			pointer-events: auto;
			visibility: visible;
			opacity: 1;
			z-index: 10001;
		}

			.gallery.lightbox .modal.visible:before {
				opacity: 1;
			}

		.gallery.lightbox .modal.loaded .inner {
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease;
			-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
			-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease;
			transition: opacity 0.5s ease, transform 0.5s ease;
			opacity: 1;
		}

		.gallery.lightbox .modal.loaded:before {
			-moz-transition-delay: 0s;
			-webkit-transition-delay: 0s;
			-ms-transition-delay: 0s;
			transition-delay: 0s;
			opacity: 0;
		}

	@media screen and (max-width: 980px) {

		.gallery.lightbox .modal .inner img {
			max-width: 100vw;
		}

	}

	.gallery article .image {
		background-color: rgba(0, 0, 0, 0.125);
	}

/* -----------------------------------------------
                 Wrapper2 Style1
-------------------------------------------------- */
	.wrapper2.style1 > .inner {
		padding: 0 3.5rem 5rem 3.5rem ;
		margin: 0 auto;
		max-width: 100%;
		width: 64rem;
	}

		.wrapper2.style1 > .inner.medium {
			width: 48rem;
		}

		.wrapper2.style1 > .inner.small {
			width: 32rem;
		}

	@media screen and (max-width: 1680px) {

		.wrapper2.style1 > .inner {
			padding: 0 2.5rem 3rem 2.5rem ;
		}

	}

	@media screen and (max-width: 1280px) {

		.wrapper2.style1 > .inner {
			padding: 0 4rem 2rem 4rem ;
		}

	}

	@media screen and (max-width: 980px) {

		.wrapper2.style1 > .inner {
			padding: 0 3rem 2.5rem 3rem ;
		}

	}

	@media screen and (max-width: 736px) {

		.wrapper2.style1 > .inner {
			padding: 0 2rem 1rem 2rem ;
		}

	}
